services:
  api:
    build:
      context: ./server
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"

  web:
    build:
      context: ./client
    environment:
      - VITE_API_URL=http://localhost:5000
    ports:
      - "3000:80"
    depends_on:
      - api
